.bg-primary {
    background-color: #5e72e4 !important;
  }

.bg-bluecolor{
  background-color: #5e72e4 !important;
  z-index: -99;
}

.pgcontainer{
  display: block;
}

.row-container{
  width: 80%;
  margin-left: 15%;
}

.small-font{
  font-size: 0.6rem;
}

.numberColumn{
  max-width: 100px;
}
.card {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.navbar-vertical.navbar-expand-xs {
    z-index: 0;
  }

.table td {
    white-space: normal;
}
