.bg-primary {
    background-color: #5e72e4 !important;
  }

.bg-bluecolor{
  background-color: #5e72e4 !important;
  z-index: -99;
}

.pgcontainer{
  display: block;
}

.row-container{
  width: 80%;
  margin-left: 15%;
}

.small-font{
  font-size: 0.6rem;
}

.numberColumn{
  max-width: 100px;
}
.card {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.input-group-text{
    width: 140px;
}
.form-control{
    margin-left: 0px;
    padding-left: 6px;
}

.navbar-vertical.navbar-expand-xs {
    z-index: 0;
  }

.table td {
    white-space: normal;
}

.card-height{
    height: 160px;
}

.b-form-btn-label-control.form-control {
  display: flex;
  align-items: stretch;
  padding: 0;
  background-image: none;
}

@media only screen and (max-width: 1270px) {
    .card-height{
        height: 200px;
    }
  }
