.bg-primary {
    background-color: #5e72e4 !important;
  }

.bg-bluecolor{
  background-color: #5e72e4 !important;
  z-index: -99;
}

.pgcontainer{
  display: block;
}

.row-container{
  width: 80%;
  margin-left: 15%;
}